*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    background-color: rgb(176, 221, 221);
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: auto;
    width: 60%;
    background-color: white;
    border-radius: 10px;
    max-width: 610px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

#question{
    font-size: 30px;
    padding: 20px;
    min-height: 70px;
}

#options{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.item{
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

#submit{
    width: 100%;
    padding: 15px;
    font-size: large;
    font-weight: 600;
    background-color: rgb(201, 243, 86);
    border: none;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(211, 240, 130);
}

#submit:active {
    background-color: rgb(146, 182, 49); /* Change to any color */
}

@media (width < 800px) {
    #card{
        width: 90%;
    }
}